@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');

:root {
  --main-font: 'Onest';
  --surface-bright: #f4fbfa;
  --on-surface: #161d1d;
  --on-primary: #ffffff;
  --on-primary-2: #001a1a;
  --surface-tint: #00696b;
  --surface-variant: #dae5e4;
  --primary-fixed: #238182;
  --primary-fixed-rgb: 35, 129, 130;
  --primary-fixed-hover: #1f6566;
  --primary-fixed-active: #1d5052;
  --danger: #ba1a1a;
  --primary: #004b4c;
  --secondary-container: #5f7979;
  --opacity-008: rgba(176, 204, 204, 0.08);
  --elevation_1_shadow: 0 4px 4px rgba(0, 105, 107, 0.25);
  --inverse-primary: #80d4d5;
  --secondary: #2e4747;
  --tertiary-container: #627693;
  --tertiary: #30445f;
  --base-rounded: 8px;
  --secondary-rounded: 30px;
  --outline: #576161;
  --background: #f4fbfa;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:active {
  outline: none;
}

a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1.5;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: var(--main-font), sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: var(--on-surface);
}

input,
button,
textarea {
  font-family: inherit;
}

input:focus {
  outline: none;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background: transparent;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
